<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="data source=.;initial catalog=Assignment; user id =sa;password=Kbutsho@1234" providerName="System.Data.SqlCClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>